h1,
p {
  font-family: Lato;
}

button,
.button {
  margin-bottom: 0 !important;
  margin-right: 0.5rem;
}
.center{
  text-align: center;
}

.top{
  margin-top: 60px;
}

.topp{
  margin-top: 30px;
}